<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881512661518-9f4erc01pcv6g7r7857fabo1n9l1828s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881512661518-9f4erc01pcv6g7r7857fabo1n9l1828s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>881512661518-8q0g9hvvencpi7e98lduqtpo12c2i826.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQid1n4UKMSlfKLqO4kQ1xCrA3nVNbIKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>881512661518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.totemllc</string>
	<key>PROJECT_ID</key>
	<string>totem-49830</string>
	<key>STORAGE_BUCKET</key>
	<string>totem-49830.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881512661518:ios:4d45e7be8eb952b7fbf25f</string>
</dict>
</plist>